{% extends "index.html" %}
{% block content %}
    <form method="POST">
        <table>
            <tr>
                <td><label for="username">Username</label></td>
                <td>
                    <input name="username" type="text" value="{{username}}">
                </td>
                {% if erru %}
                    <td><i class="error">{{mssg1}}</i></td>
                {% endif %}
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password">
                </td>
                {% if errp %}
                    <td><i class="error">{{mssg3}}</i></td>
                {% endif %}
            </tr>
            <tr>
                <td><label for="verify">Re-type Password</label></td>
                <td>
                    <input type="password" name="verify">
                </td>
                {% if errv %}
                    <td><i class="error">{{mssg2}}</i></td>
                {% endif %}
            </tr>
            <tr>
                <td><input type="submit" value="Register" action="/register"></td>
            </tr>
        </table>
    </form>
{% endblock %}